version: '3.7'

services:
  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
      - prometheus_data:/prometheus
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
      - '--storage.tsdb.path=/prometheus'

    ports:
      - '9090:9090'
    restart: unless-stopped
  
  grafana:
    image: grafana/grafana-oss:latest
    container_name: grafana
    ports:
      - '3000:3000'
    volumes:
      - grafana_data:/var/lib/grafana
    depends_on:
      - prometheus
    #environment:
    #  - GF_SECURITY_ADMIN_USER=admin
    #  - GF_SECURITY_ADMIN_PASSWORD=admin     # Imposta le credenziali di accesso di default
    restart: unless-stopped

  exporter:
      build:
        context: .. # Sposto il "mirino" di Docker guardando alla cartella principale (MachineInnovators)
        dockerfile: monitoring/Dockerfile # Indico a Docker dove trovare il file nonostante il cambio di contesto
      image: machineinnovators/exporter:latest
      container_name: ml-exporter
      ports:
        - "8000:8000"
      restart: unless-stopped

volumes:
  prometheus_data:
  grafana_data: